 .u-section-1 {
  min-height: 846px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0 calc(((100% - 1140px) / 2) + 468px);
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-1 {
  padding: 1px 9px;
}

.u-section-1 .u-table-1 {
  width: 203px;
  margin: 76px auto 0;
}

.u-block-3ea4-81 {
  height: 46px;
}

.u-block-3ea4-106 {
  height: 46px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-2 {
  padding: 23px 27px;
}

.u-section-1 .u-table-2 {
  width: 203px;
  margin: 54px auto -7px;
}

.u-block-3ea4-116 {
  height: 46px;
}

.u-block-3ea4-141 {
  height: 46px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-3 {
  padding: 23px 26px;
}

.u-section-1 .u-table-3 {
  width: 203px;
  margin: 54px 0 -7px auto;
}

.u-block-3ea4-151 {
  height: 46px;
}

.u-block-3ea4-176 {
  height: 46px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-4 {
  padding: 23px 27px;
}

.u-section-1 .u-table-4 {
  width: 203px;
  margin: 54px auto -7px;
}

.u-block-3ea4-186 {
  height: 46px;
}

.u-block-3ea4-211 {
  height: 46px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 562px;
}

.u-section-1 .u-container-layout-5 {
  padding: 23px 29px;
}

.u-section-1 .u-table-5 {
  width: 203px;
  margin: 54px 0 -7px;
}

.u-block-3ea4-221 {
  height: 46px;
}

.u-block-3ea4-246 {
  height: 46px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 40px 1129px 0 80px;
}

.u-section-1 .u-text-3 {
  margin: -60px 80px 60px calc(((100% - 1140px) / 2) + 887px);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 2.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 747px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 94px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-1 .u-table-1 {
    width: 171px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-1 .u-table-2 {
    width: 133px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 463px;
  }

  .u-section-1 .u-table-3 {
    width: 135px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 463px;
  }

  .u-section-1 .u-table-4 {
    width: 133px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 463px;
  }

  .u-section-1 .u-table-5 {
    width: 131px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 117px;
    margin-right: 1009px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -104px;
    margin-left: calc(((100% - 1140px) / 2) + 758px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2058px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 887px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 887px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 887px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 355px;
  }

  .u-section-1 .u-table-4 {
    width: 89px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 887px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -565px;
    margin-right: 789px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 648px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 4277px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1331px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1331px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1331px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1331px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 1331px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2589px;
    margin-right: 609px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 1140px) / 2) + 558px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2798px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 506px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 838px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 838px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 838px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 838px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 838px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1465px;
    margin-right: 409px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -78px;
    margin-bottom: 52px;
    margin-left: calc(((100% - 1140px) / 2) + 458px);
  }
}