#container {
    align-items: center;
    text-align: center;
    background : #024B80;
    width : 100%;
    height : 1000px;
}

#title {
    position : absolute;
    color : aliceblue;
    top : 50px;
    left : 80px;
    font-size : 40px;
    font-weight: 600;
}

#content {
    padding-top : 100px;
    text-align: center;
}

#guide {
    position : absolute;
    top : 900px;
    left: 50px;
    font-size : 30px;
    color : aliceblue;
}

#bottom {
    background : #292e33;
    margin-top : 5px;
    width : 100%;
    height : 250px;
    text-align: center;
}

#soloSearch {
    margin-top : 150px;
    display  : inline-block;
    padding-bottom : 20px;
    width : 300px;
    border : 3px solid white;
}